/*
    Page Elements
------------------------------------------------*/

html {
	height: 100%;
}

body {
	background: $base-background-color;
	min-height: 100%;

	&.fullsize {

		@include media($small-screen-up) {
			height: 100%;
			width: 100%;
			overflow: hidden;
		}
	}
}

/*
    Base layout styles from bootstrap.css
------------------------------------------------*/

main {
	overflow-x: hidden;
}

.container,
.container-narrow {
	@include outer-container;
	padding: $gutter;
	width: 100%;
}

.container-narrow {
	max-width: 500px;
}

.container-full {
	margin-left: auto;
	margin-right: auto;
	padding: $gutter;
	padding-top: 0;
	width: 100%;
}

.row {
	margin-right: -$gutter;
	margin-left: -$gutter;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	position: relative;
	min-height: 1px;
	padding-right: $gutter;
	padding-left: $gutter;
	margin-top: $gutter/2;
	margin-bottom: $gutter/2;

	@include media($small-screen-up) {
		margin-top: 0;
		margin-bottom: 0;
	}
}

/*
    Page Elements
------------------------------------------------*/


.page-header {
	@include clearfix;
	@include pad(flex-gutter() 0);
	// border-bottom: 1px solid $grey-lighter;
	margin-bottom: $gutter;

	*:last-child {
		margin-bottom: 0;
	}

	.workarea-stage & {
		margin-top: 0;
	}

	&.mb0 {
		margin-bottom: 0;
	}

	@include media($small-screen-up) {
		margin-bottom: $gutter * 2;
	}
}



/*
    Blocks
------------------------------------------------*/

.block {
	@include pad(flex-gutter() * 2);

	@include media($small-screen-up) {

		// Quarter sizes.
		&--quarter {
			@include span-columns(3);

			&.block--centered {
				@include shift(4);
			}
		}

		// Third sizes.
		&--third {
			@include span-columns(4);

			&.block--centered {
				@include shift(4);
			}
		}


		// Half sizes.
		&--half {
			@include span-columns(6);

			&.block--centered {
				@include shift(3);
			}
		}

		// Quarter sizes.
		&--threequarters {
			@include span-columns(9);

			&.block--centered {
				@include shift(2);
			}
		}

	}


}

/*
    Workareas
------------------------------------------------*/

.workarea {

	&-side {
		@include pad(flex-gutter());
	}

	&-stage {
		// background: #fff;
		@include pad(flex-gutter());
	}

	@include media($medium-screen-up) {
		display: flex;
		flex-direction: row;
		flex: 1 1 auto;

		&-side {
			width: 25%;
		}

		&-stage {
			width: 75%;
			padding-top: flex-gutter()/2;

			// &:last-child {
			// 	padding-left: 0;
			// }
		}
	}

}

